<div>
    <h2>Employee List</h2>
    <input type="button" value="Add Employee" (click)="navigateToAddEmployeeView()" style="display: block;width: fit-content;float: right;margin-bottom: 5px;">
    <table>
        <tr>
            <th style="background-color: #333333; color: #FFFFFF;">Name</th>
            <th style="background-color: #333333; color: #FFFFFF;">Age</th>
            <th style="background-color: #333333; color: #FFFFFF;">Department</th>
            <th style="background-color: #333333; color: #FFFFFF;">Salary</th>
            <th style="background-color: #333333; color: #FFFFFF;">Action</th>
        </tr>
        <tr *ngFor="let employee of employeeList; index as i">
            <td> {{employee.name}} </td>
            <td> {{employee.age}} </td>
            <td> {{employee.department}} </td>
            <td> {{employee.salary}} </td>
            <td>
            <button><i class="fa-regular fa-pen-to-square"></i></button>
            <button (click)="navigateToEditEmployeeView(employee.id)"><i class="fa-solid fa-trash-can"></i></button> </td>
        </tr>
    </table>
</div>